@font-face {
  font-family: "iconfont"; /* Project id 4742343 */
  src: url('iconfont.woff2?t=1731372669009') format('woff2'),
       url('iconfont.woff?t=1731372669009') format('woff'),
       url('iconfont.ttf?t=1731372669009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-shejiao:before {
  content: "\e62c";
}

.icon-iosalbums:before {
  content: "\e715";
}

.icon-pengyouquan:before {
  content: "\e6a0";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-xiangyoujiantou1:before {
  content: "\e60c";
}

.icon-xiangyoujiantou2:before {
  content: "\e7ad";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-shbaitianmoshi:before {
  content: "\e606";
}

.icon-zhuxiao:before {
  content: "\e609";
}

.icon-xiangce:before {
  content: "\e618";
}

.icon-xiaoxi:before {
  content: "\e613";
}

.icon-xiaoxi1:before {
  content: "\e657";
}

.icon-shejiao-geren:before {
  content: "\e621";
}

.icon-shejiao-xiangji:before {
  content: "\e624";
}

.icon-dark:before {
  content: "\e997";
}

.icon-xiangce1:before {
  content: "\e89f";
}

.icon-zhuxiaoyuan:before {
  content: "\e862";
}

