/* Estilo geral do pop-up */
.popup-container {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0; /* Remover bordas arredondadas para ocupar toda a tela */
    padding: 20px;
    z-index: 1000;
    width: 50%;
    border-radius: 12px;
    height: 50%;
    display: flex;
    flex-direction: column; /* Altera para uma coluna */
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para o tĆ­tulo */
  .popup-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* EspaĆ§amento entre o tĆ­tulo e os botĆµes */
    color: #333;
  }
  
  /* Container das opĆ§Ćµes de upload */
  .upload-options {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    gap: 30px; /* Aumenta o espaĆ§amento entre os botĆµes */
    width: 80%; /* Largura da grid, ajustĆ�vel conforme necessĆ�rio */
    height: 70%; /* Altura da grid, ajustĆ�vel conforme necessĆ�rio */
    justify-items: center;
    align-items: center;
  }
  
  /* Estilo dos botĆµes de upload */
  .upload-option {
    width: 100%; /* Preencher a coluna */
    height: 100%; /* Preencher a altura */
    padding: 30px; /* Aumenta o padding para botĆµes maiores */
    font-size: 20px; /* Aumenta o tamanho da fonte */
    color: white;
    background-color: rgb(225, 76, 76); /* Cor modificada */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .upload-option:hover {
    background-color: rgb(195, 66, 66); /* Cor mais escura ao passar o mouse */
    transform: scale(1.05);
  }
  
  .upload-option:active {
    transform: scale(1); /* Reduz o tamanho ao clicar */
  }
  
  /* BotĆ£o de fechar */
  #close-popupI {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #close-popupI:hover {
    background-color: darkred;
  }