
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px auto;
    display: block;

    transition: background-color 1s ease;

}


input[type="date"]:hover {
    background-color: rgb(0, 255, 149);
}

h1{
    text-align: center;
}
button {
    background-color:#008cba;
    color: white;
    border: 2px solid green;
    padding: 13px 35px;
    border-radius: 15px;
    display: block;
    margin: 45px auto;
  }
  
button:hover{
    background-color:white; /* Green */
    color: black;
    transform: scale(1.3);
    transition: background-color 0.7s ease, transform 0.8s ease-in-out;
    
}
a{
    text-decoration: none;
}