* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.title{
    text-align: center;
}
.criterio{
    margin: 50px auto;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;    
    /* border: 1px solid #000; */
    
}






.criterio button{
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    color: black;
}


.criterio button:hover{
    background-color: #1E90FF; 
    transform: scale(1.2);
    transition: background-color 1.5s ease,transform 0.7s ease;
    
}


.return button {
    background-color:#008cba;
    color: white;
    border: 2px solid green;
    padding: 13px 65px;
    border-radius: 15px;
    display: block;
  }
  
.return button:hover{
    background-color:white; /* Green */
    color: black;
    transform: scale(1.1);
    transition: background-color 0.7s ease, transform 0.8s ease-in-out;
    
}
a{
    text-decoration: none;
}

.return{
    width: 250px;
    margin: 0 auto;
}




