
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:var(--body-color);
}

:root {
    --body-color: #E4E9F7;
    --shell-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}

.dark {
    --body-color: #202224;
    --shell-color: #171717;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #FFF;
    --text-color: #ccc;
}

.upload-container {
    text-align: center;
    padding: 100px;
    border: 2px dashed #d9d9d9;
    border-radius: 10px;
    width: 350px;
    background-color: var(--shell-color);
    position: relative;
    cursor: pointer;
}

.upload-container:hover {
    border-color: #3399ff;
}

.upload-icon {
    font-size: 48px;
    color: #999;
}

.upload-text {
    font-size: 16px;
    color: #666;
    margin: 20px;
}

.upload-button-group {
    display: inline-flex;
    align-items: center;
    height: 35px;
    width: 200px;
}

.upload-button {
    background-color: #3399ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    height: 100%;
    width: 75%;
}

.upload-button:hover {
    background-color: #287bc4; /* 鼠标悬停时的颜色 */
    color: #ffffff; /* 保持文字为白色 */
}

.dropdown-arrow {
    background-color: #3399ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    width: 25%;
}

.dropdown-arrow:hover {
    background-color: #287bc4; /* 鼠标悬停时的颜色 */
    color: #ffffff; /* 保持文字/图标为白色 */
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    padding: 5px 0;
    margin-top: 45%;
}

.dropdown-item {
    padding: 10px;
    color: #333;
    cursor: pointer;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #f0f0f5;
}

/* Linux File Explorer Mockup */
.file-explorer {
    width: 650px;
    height: 500px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 10px;
    position: relative;
}

.top-bar .nav-button {
    background-color: #555;
    border: none;
    color: #f5f5f5;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.top-bar .nav-button:hover {
    background-color: #666;
}

.close-button {
    position: absolute;
    right: 10px;
    background-color: #555;
    border: none;
    color: #f5f5f5;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-button:hover {
    background-color: #666;
}

.home-column {
    width: 25%;
    background-color: #3b3b3b;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-column .home-item {
    padding: 10px;
    color: #f5f5f5;
    cursor: pointer;
}

.home-column .home-item:hover {
    background-color: #666;
}

.file-display {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.outer-file {
    width: 80%;
}

.file-list {
    width: auto;
    height: 80%;
    padding: 15px;
    display: flex;
    background-color: #222;
    overflow-y: auto;
    align-items: flex-start;
}

.file-list2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 10px;
    flex-wrap: wrap;
    gap: 15px;
}

.file-list .file-item {
    width: 60px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
}

.file-list .file-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.file-list .file-item:hover {
    opacity: 0.8;
}

.bottom-open-cancele {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.bottom-open-cancele .bottom-button {
    background-color: #444;
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-open-cancele .bottom-button:hover {
    background-color: #555;
}


.navbar {
    width: 170px;
    height: 600px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* 设置固定定位 */
    top: 50%; /* 顶部偏移 50% */
    right: 0; /* 靠右对齐 */
    transform: translateY(-50%); /* 使其垂直居中 */
    z-index: 100; /* 保证在其他元素之上 */
}

.outer-shell {
    justify-content: center;
    display: flex;
    overflow: hidden;

}

.navbar-top {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    height: 500px;
    align-items: flex-start;
    width: 100%;
}

.hidden {
    display: none;

}



.thumbnail {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.open-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.open-button:hover {
    background-color: #0056b3;
}

.open-button i {
    font-size: 23px; /* 图标大小 */
    margin-right: 5px; /* 图标与文字间距 */
}

.outer-shell-bottom {
    display: flex;
    justify-content: center;

}
.navbar-bottom {
    display: block;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    flex: 1;
    height: 20px;
    margin-left: 5px;
}

.ok{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 0px 10px;
}
.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.delete-button:hover {
    background-color: #c82333;
}


.warning-add-containeir {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px; /* 自定义高度 */
    border: 2px dashed #d9d9d9;
    border-radius: 10px;
    background-color: rgba(240, 240, 245, 0.3); /* 淡化背景色 */
    overflow: hidden;
    margin-bottom: 5px;
}

.icon-add {
    font-size: 50px;
    font-weight: bold;
    color: rgba(153, 153, 153, 0.7); /* 虚化文字 */
    margin-right: 10px;
}

.please-add-img {
    font-size: 20px;
    color: rgba(153, 153, 153, 0.7); /* 虚化文字 */
}


.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    cursor: pointer;
    text-align: left;
}

.dropdown-item i {
    font-size: 25px; /* 图标大小 */
    margin-right: 15px; /* 图标与文字的间距 */
    color: #3399ff; /* 图标颜色，可根据需求修改 */
}


.dropdown-item i.icon-instagram {
    color: #E4405F; /* Instagram 颜色 */
}

.dropdown-item i.icon-facebook1 {
    color: #1877F2; /* Facebook 颜色 */
}


.delete-button {
    background-color: #dc3545; /* 红色背景 */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.delete-button i {
    font-size: 16px; /* 图标大小 */
    margin-right: 5px; /* 图标与文字间距 */
}

.delete-button:hover {
    background-color: #c82333; /* 鼠标悬停效果 */
}


.ajuda {
    background-color: #e7f3ff; /* 浅蓝背景 */
    color: #3399ff; /* 蓝色文字 */
    border: none;
    border-radius: 20px; /* 圆角边框 */
    padding: 10px 20px; /* 按钮内边距 */
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
}

.ajuda i {
    font-size: 20px; /* 图标大小 */
    margin-right: 5px; /* 图标与文字间距 */
}

.ajuda:hover {
    background-color: #d8e9ff; /* 鼠标悬停背景色 */
}

.bottom-line {
    text-align: center; /* 水平居中 */
    margin-top: 10px;
    padding: 10px;
    background-color: white; /* 背景色 */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
    z-index: 999; /* 确保在所有内容上方 */
    display: none; /* 默认隐藏 */
}
.file-explorer {
    z-index: 1000; /* 高于遮罩层 */
}


