h1{
    text-align: center;

}

select{
    margin: 0 auto;
    width: 190px;
    height: 70px;
    border: 1px solid rgb(20, 174, 20);
    font-size: 110%;
}

.box{
    margin: 0 auto;
    width: 250px;
    display: flex;
    align-items: center;


}

.box p {
    font-size: larger;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
  
  

}