<template>
  <div>
    <!-- 头部组件 -->
    <!-- class="header-bar" :class="headerClass" -->
    <van-nav-bar title="朋友圈" style="background-color:rgb(237,237,237)" left-arrow>
      <van-icon name="more-o" slot="right" />
    </van-nav-bar>
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <div>
        <div class="content-wrapper" ref="wrapper">
          <div class="content-text">
            <div class="content-top">
              <img class="circle-bg" src="../assets/fengmian.jpg" />
              <div class="user">
                <span>摆渡人</span>
                <img src="../assets/me/touxiang.jpg" height="80" width="80" />
              </div>
            </div>
            <!-- 朋友圈列表 -->
            <div style='overflow-y: scroll; height: 100%;'>
              <van-list>
                <van-cell v-for="(item,index) in list" :key="index">
                  <!-- 用户内容 -->
                  <van-row>
                    <!-- 用户头像 -->
                    <van-col span="3">
                      <div>
                        <img :src="item.userpic" height="40" width="40" class='userpic' />
                      </div>
                    </van-col>
                    <van-col span="21">
                      <!-- 用户名 -->
                      <van-col span="24">
                        <span class='listname'>
                          {{item.name}}
                        </span>
                      </van-col>
                      <!-- 发表的文字内容 -->
                      <van-col span="24" v-if='item.content.length>0'>
                        {{item.content}}
                      </van-col>
                      <!-- 发表的照片、视频、公众号-->
                      <van-col span="24">
                        <!-- 多张照片 -->
                        <div v-if="item.picUrl.length>1">
                          <span v-for="(i,index) in item.picUrl">
                            <img :src=i class='img_wrap' preview="1" />
                          </span>
                        </div>
                        <!-- 单个照片 -->
                        <div v-if="item.picUrl.length===1">
                          <span v-for="(i,index) in item.picUrl">
                            <img :src=i class='img_wrap_one' preview="1" />
                          </span>
                        </div>
                        <!-- 视频 -->
                        <!-- <video  class="video"  v-if='item.videoUrl.length>0'>
                        <source  :src="item.videoUrl" type="video/mp4">
                      </video> -->
                      </van-col>
                      <!-- 发布时间、赞和评论-->
                      <van-col span="24">
                        <!-- 发布时间 -->
                        <van-col span="8">
                          <span style='font-size:12px;'>{{item.time}}</span>
                        </van-col>
                        <!-- 点赞和 取消 -->
                        <van-col span="16" style="display: flex;justify-content: flex-end;">
                          <!--气泡框  -->
                          <div class='zanshow ' v-show='item.showPopover'>
                            <!-- 点赞 -->
                            <div class="like-box" :id='index' @click="operaLike($event)">
                              <!-- 显示一个喜欢的图标 -->
                              <div class="like-text" v-if="!item.isLike">
                                <van-icon name="like-o" />
                                Like
                              </div>
                              <div class="like-text" v-if="item.isLike">
                                <van-icon name="like" color="red" />
                                Cancel
                              </div>
                            </div>
                            <div class="like-box" :id='index' @click="operacom($event)">
                              <div class="like-text">
                                <van-icon name="comment-o" />
                                Comment
                              </div>
                            </div>
                            <van-dialog v-model="popupshow"  show-cancel-button :before-close="chargeBtn">
                              <!--输入框-->
                              <van-field
                                v-model="message"
                                rows="2"
                                autosize
                                label="评论"
                                type="textarea"
                                maxlength="140"
                                placeholder="请输入评论 "
                                show-word-limit
                              />
                            </van-dialog>
                          </div>
                          <!-- 点击 按钮 -->
                          <van-icon name="weapp-nav" :id='index' @click="showPanel($event)" />
                        </van-col>

                        <!-- 评论 -->
                      </van-col>
                      <!-- 评论区和 点赞区的展示-->
                      <van-col span="24">
                        <div>
                          <van-cell-group>
                            <!-- 点赞 -->
                            <van-cell v-if="item.likes.length>0" class='zanpanel'>
                              <van-icon name="like-o" color="#626c90" />
                              <font color="#626c90" v-for='(likes_i, i) in item.likes' :key="i">
                                {{likes_i}}
                              </font>
                            </van-cell>
                            <!-- 评论区 -->
                            <van-cell v-if="item.punkt.length>0" class='zanpanel'>
                              <!-- 显示 评论区-->
                              <van-list class="pllist">
                                <div  v-for='(punkt_i, j) in item.punkt' :key="j">
                                  <font color="#626c90">{{punkt_i.pname+":&nbsp"}}</font>
                                  <span> {{punkt_i.conment}}</span>
                                </div>
                              </van-list>
                            </van-cell>
                          </van-cell-group>
                        </div>
                      </van-col>
                    </van-col>
                  </van-row>
                </van-cell>

              </van-list>
            </div>
            <!-- 更换相册弹出框 -->
            <div>

            </div>
            <!-- <van-popup v-model="show" position="bottom" :overlay="false">
                内容
         </van-popup> -->
          </div>
        </div>

      </div>
    </van-pull-refresh>
  </div>
</template>
