@font-face {
  font-family: "iconfont"; /* Project id 4742343 */
  src: url('iconfont.woff2?t=1732466237410') format('woff2'),
       url('iconfont.woff?t=1732466237410') format('woff'),
       url('iconfont.ttf?t=1732466237410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pc:before {
  content: "\e614";
}

.icon-cloud:before {
  content: "\e6cd";
}

.icon-pc1:before {
  content: "\e66a";
}

.icon-pc2:before {
  content: "\e616";
}

.icon-cloud-upload:before {
  content: "\e7d9";
}

.icon-facebook:before {
  content: "\e87d";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-facebook-fill:before {
  content: "\e88d";
}

.icon-clouddownload:before {
  content: "\e81b";
}

.icon-facebook1:before {
  content: "\ea0c";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-tianjia:before {
  content: "\e605";
}

.icon-zhuye1:before {
  content: "\e7dd";
}

.icon-shangchuan_huaban:before {
  content: "\e66e";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-shejiao:before {
  content: "\e62c";
}

.icon-iosalbums:before {
  content: "\e715";
}

.icon-pengyouquan:before {
  content: "\e6a0";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-xiangyoujiantou1:before {
  content: "\e60c";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-shbaitianmoshi:before {
  content: "\e606";
}

.icon-zhuxiao:before {
  content: "\e609";
}

.icon-xiangce:before {
  content: "\e618";
}

.icon-xiaoxi:before {
  content: "\e613";
}

.icon-xiaoxi1:before {
  content: "\e657";
}

.icon-shejiao-geren:before {
  content: "\e621";
}

.icon-shejiao-xiangji:before {
  content: "\e624";
}

.icon-dark:before {
  content: "\e997";
}

.icon-xiangce1:before {
  content: "\e89f";
}

.icon-zhuxiaoyuan:before {
  content: "\e862";
}

