
/* 基础样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(238, 233, 233, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header-bar .title {
    font-size: 18px;
    font-weight: bold;
}

.circle-bg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user {
    display: flex;
    align-items: center;
    position: absolute;
    top: 190px;
    right: 10px;
    z-index: 100;
}

.user span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: aliceblue;
}

.user img {
    border: 2px solid #fff;
    border-radius: 20%;
}

.content-wrapper {
    padding: 10px;
    background: #f9f9f9;
}

.post {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userpic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.listname {
    font-size: 16px;
    font-weight: bold;
}

.post-content {
    font-size: 14px;
    margin-bottom: 10px;
}

.post-images img {
    max-width: 25%;
    margin: 5px 0;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

.post-footer {
    display: flex;
    align-items: center;
    position: relative;
}

.post-time {
    font-size: 12px;
    color: #888;
}

.footer-buttons {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    background: white;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer-buttons.hidden {
    display: none;
}

.toggle-menu {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    background-color: rgb(207, 204, 204);
    color: rgb(38, 156, 224);
    padding: 2px;
    
}

.interaction-area {
    margin-top: 10px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.likes {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.comments {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
}



.comment-user {
    color: rgb(38, 156, 224);
    text-decoration: none; /* 默认无下划线 */
    cursor: pointer;
}

.comment-user:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}
